
@import url(reset.css);

body {
    background-color: #405D72;
    color: #333; 
    font-size: 16px;
}

.login-section, .signup-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background: url('../assets/img/vintage-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 20px; 
}

.form-container {
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 12px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    padding: 30px; 
    max-width: 420px;
    width: 100%;
    margin: 20px; 
}

h2 {
    font-family: 'Times New Roman', serif; 
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px; 
}

input[type="text"], input[type="email"], input[type="password"] {
    width: calc(100% - 22px); 
    padding: 12px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 6px; 
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    background-color: #089da1; 
    color: #fff;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 6px; 
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px; 
}

button:hover {
    background-color: #066a6e; 
}

p {
    text-align: center;
    margin-top: 20px; 
    font-size: 14px; 
}

a {
    color: #089da1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.terms {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
